.main-footer {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  width: 100%;
  padding: 0 24px;
  color: #fff;
  background-color: #000;

  .footer-logo {
    text-align: center;
    border-bottom: 1px solid rgba(#fff, 0.2);
    img {
      width: 202px;
      height: 27px;
    }
  }

  .footer-menu {
    font-size: 14px;
    font-weight: 300;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .footer-address {
    text-align: center;
    opacity: 0.5;
  }
  .footer-contact {
    text-align: center;
    opacity: 0.5;
  }
  .line-title {
    font-weight: bold;
  }
}
