.main-footer {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 26px;
  justify-content: center;
  width: 100%;
  padding: 44px 24px 58px;
  color: #fff;
  background-color: #000;

  .footer-logo {
    grid-column: 1;
    text-align: center;
    img {
      width: 202px;
      height: 27px;
    }
  }
  .divider {
    // padding-bottom: 24px;
    margin-bottom: 6px;
    border-bottom: 1px solid rgba(#fff, 0.2);
  }

  .footer-menu {
    display: grid;
    row-gap: 31px;
    margin-bottom: 9px;
    font-size: 14px;
    font-weight: 300;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .footer-address {
    margin-top: 9px;
    text-align: center;
    opacity: 0.5;
  }
  .footer-contact {
    margin-top: 8px;
    text-align: center;
    opacity: 0.5;
  }
  .line-title {
    font-weight: bold;
  }
  .footer-social {
    display: grid;
    column-gap: 15px;
    justify-content: center;
    margin-top: 15px;

    a {
      grid-row: 1;
    }
  }

  @include mq($from: tablet) {
    grid-template-rows: 56px auto 93px;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 21px;
    padding: 48px 40px 71px 23px;

    .footer-logo {
      grid-row: 1;
      grid-column: 1;
      align-self: center;
      padding-bottom: 0;
    }
    .footer-menu {
      grid-template-columns: auto auto auto;
      grid-row: 1;
      grid-column: 2 / span 3;
      grid-column-gap: 40px;
      align-self: center;
      justify-self: end;
      text-align: right;
    }
    .divider {
      grid-row: 2;
      grid-column: 1 / span 3;
    }
    .footer-address {
      grid-row: 3;
      grid-column: 1;
      padding-left: 19px;
      text-align: left;
    }
    .footer-contact {
      grid-row: 3;
      grid-column: 2;
      padding-left: 17px;
      text-align: left;
    }
    .footer-social {
      grid-row: 3;
      grid-column: 3;
      align-self: end;
      justify-content: end;
    }
  }
}
