.page-header {
  display: grid;
  row-gap: 24px;
  padding: 80px 24px 0;
  color: #fff;
  text-align: center;
  background-color: #e7816b;

  .page-header-title {
    z-index: 2;
    font-size: 32px;
    font-weight: 500;
    line-height: 36px;
  }
  .page-header-info {
    z-index: 2;
    font-size: 15px;
    font-weight: normal;
    line-height: 25px;
  }
  .page-header-button {
    z-index: 2;
  }
  .page-header-image {
    z-index: 1;
    width: 100%;
    height: 371px;
    margin-top: 55px;
    background-image: url('~@/assets/images/home/desktop/image-hero-phone.png');
    filter: drop-shadow(20px -40px 80px rgba(93, 2, 2, 0.497569));
    background-repeat: no-repeat;
    background-position: top center;
  }

  @include mq($from: tablet) {
    padding: 120px 40px 0;

    .page-header-title {
      padding: 0 50px;
      font-size: 48px;
      font-weight: 500;
      line-height: 48px;
    }
    .page-header-info {
      padding: 0 130px;
      font-size: 16px;
      line-height: 26px;
    }
  }
}
